@charset "utf-8";

/* -----------------------------------------
CSS information
 file name  : default.css
 style info : resest 
----------------------------------------- */

/*--- reset */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure {
	  margin: 0;
	  padding: 0;
}

a{
	  color:inherit;
	  text-decoration:none;
	  cursor:pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	  display: block;
}

address,caption,cite,code,dfn,em,strong,th,var {
	  font-style: normal;
}

/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

caption,th {
	  text-align: left;
}

q:before,q:after {
	  content: '';
}
object,
embed {
	  vertical-align: top;
}

hr,legend {
	  display: none;
}

h1,h2,h3,h4,h5,h6 {
	  font-size: 100%;
}
img,abbr,acronym,fieldset {
	  border: 0;
}

li {
	  list-style-type: none;
}

a{
	  outline: none;
}

img a {
	  outline::none;
	  border:none;
}
.p {
	  margin:0px;
	  padding:0px;
	  font-size: inherit;
	  font-family: inherit;
	  font-weight: inherit;
	  text-align: inherit;
	  color: inherit;
	  line-height: inherit;
	  vertical-align: top;
}
p {
	  padding-top:0px;
	  margin-top:0px;
}

/* clearfix */  
.clearfix:after { 
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
}  
* html .clearfix { zoom: 1; } /* IE6 */  
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
br.forIE{
	  height:0;
	  visibility:hidden;
	  line-height: 0;
	  margin:0;
	  padding:0;
	  font-size:0;
	  overflow: hidden;
}

/* float */
.fltleft{
	  float:left;
}

.fltright{
	  float:right;
}

.mr10{
	  margin-right:10px;
}

.mb10{
	  margin-bottom:10px;
}

.mb20{
	  margin-bottom:20px;
}

.mb30{
	  margin-bottom:30px;
}



.mt10{
	  margin-top:10px;
}

.mt20{
	  margin-top:20px;
}

.mt30{
	  margin-top:30px;
}

/*bnr*/
.bnr{
	  line-height:0;
}
